EmailDigestofNewGithubIssues.json
{
  "name": "EmailDigestofNewGithubIssues",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "85d352fe-6d91-43d8-995b-d1ce7eb56c5f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/AshleyMathias/n8n-automation/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "27d460e0-f3b8-4afd-aed8-1bc9543c1a42",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30569381-97cb-4dc8-9863-74f669b2bc05",
              "leftValue": "={{$json.length}}\n",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "8a2c8271-77fa-4555-9020-844cb2dc05dd",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "ashleymathias100@gmail.com ",
        "subject": "=New GitHub Issues Summary - {{ $now.toISO() }}",
        "message": "=Hi Ashley,  Here are the latest GitHub issues from your repo:  {{ $json.map(issue => `🔹 ${issue.title} - ${issue.html_url}`).join('\\n') }}  Regards,   n8n Bot",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -100
      ],
      "id": "d943474b-3b44-41fb-bf37-f11f351555da",
      "name": "Gmail",
      "webhookId": "9cf8877f-447f-4840-bd75-bdd05db23dc7",
      "credentials": {
        "gmailOAuth2": {
          "id": "e16qN6o9TJ0ypUkP",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "82ea9601-e8bf-40ac-9f59-6beab7edea9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8165fdb40026658032009a0d1fa4414c8a803bca194bfbf9c9bd83390f574456"
  },
  "id": "VJJ1vNIgpLprBmOn",
  "tags": []
}